@using PagedList.Mvc;
@model PagedList.IPagedList<HappyLifeManagement.Data.Entity.Note>

@{
    ViewBag.Title = "Happy life management";
}

<h2>My Notes</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-2">
            @Html.ActionLink(item.Title, "Details", new { id = item.Id })
        </td>
        <td class="col-md-6">
            @Html.Raw(item.Content)
        </td>
        <td class="col-md-1">
            <span class="label label-primary">@item.Tags</span>
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td class="col-md-2">
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>